@using ClassLibrary1;
@model ItemViewModel
@{
    ViewData["Title"] = "Product";
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/home/addToCart" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Your item has been successfully added!</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="itemId" value="@Model.Item.Id" />
                    <input type="hidden" id="selected-quantity" name="quantity" value="" />
                    <button class="continue btn btn-info btn-lg" name="keepShopping" value="true">Continue Shopping</button>
                    <button class="continue btn btn-info btn-lg">View Cart</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="col-md-9 col-md-offset-1">

    <div class="thumbnail">
        <img class="img-responsive" src="~/itemsImages/@Model.Item.Image" alt="">
        <div class="caption-full">
            <h4 class="pull-right">@Model.Item.Price.ToString("C")</h4>
            <h4>@Model.Item.Name</h4>
            <p>@Model.Item.Description</p>

            <div>
                <label class="control-label col-md-offset-6 col-md-2" for="quantity">Quantity</label>
                <div class="col-md-6 col-md-4">
                    <select id="quantity" class="form-control">
                        @for (int x = 1; x <= 10; x++)
                        {
                            <option value="@x">@x</option>
                        }
                    </select>
                </div>
            </div>

            <button style="margin-top: 20px;" id="add-To-Cart" class="btn btn-info col-md-offset-9" data-toggle="modal" data-target="#myModal">Add to Shopping Cart</button>

        </div>
    </div>
</div>


@section scripts
    {
    <script src="~/js/Index.js"></script>
}


